__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.pyz
*.pyw
*.pyz/
*.pyw/
*.py~
*.swp
*.log
*.tmp
*.tmp.*
*.crt
*.key
*.csr
*.pem
*.pid
*.sqlite3
*.db
*.sqlite
/.vscode/
/.idea/
/.venv/
/__pycache__/
/.mypy_cache/